<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>random word</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <h4 class="center">Random word (attempt: {{session['count']}})</h4>
            <h2 class="box">{{word}}</h2>
            <a href="/">generate</a>
        </div>
    </body>
</html>
