<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>time rebuild</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <div class="little box">
                <h5 >Current Time and Date:</h5>
            </div>
            <div class="big box">
                <h4>{{day}}</h4>
                <h4>{{time}}</h4>
            </div>

        </div>
    </body>
</html>
