<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <form class="box" action="/survey/process" method="post">
                <h4>your name:</h4>
                <input type="text" name="name" value="">
                <h4>Dojo Location:</h4>
                <select class="" name="">
                    (% for city in cities %)
                    <option value="option">{{city}}</option>
                    {% endfor %}
                </select>
                <h4>Favortie Language:</h4>
                <select class="" name="">
                    {% for language in languages %}
                    <option value="option">{{language}}</option>
                    {% endfor %}
                </select>
                <h4>comment</h4>
                <textarea name="name" rows="8" cols="40"></textarea>
                <input type="submit" name="submit">
            </form>
        </div>
    </body>
</html>
